@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Profile";
}

<h2>My Transactions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Date.ToString("g")</td>
                <td>$@transaction.Amount</td>
                <td>@transaction.Type</td>
            </tr>
        }
    </tbody>
</table>
